body {
  background-color: #74fc79;
}


 h1 {
  color: #256673;
   font-family: Verdana, Arial, sans-serif;
  font-size: 1.25rem;
  text-align: center;
}




/* Media Query 1: Screens wider than 600px */
@media (min-width: 600px) {
 
}

/* Media Query 2: Screens wider than 900px */
@media (min-width: 900px) {

}
